numpy
datasets
peft @ git+https://github.com/huggingface/peft.git@deff03f2c251534fffd2511fc2d440e84cc54b1b
torch==2.0.0
wandb==0.14.0
deepspeed
trl @ git+https://github.com/lvwerra/trl.git#egg=trl-0.4.1
sentencepiece
transformers @ git+https://github.com/huggingface/transformers@c612628045822f909020f7eb6784c79700813eda
flask
flask_cors
icetk
cpm_kernels
evaluate
scikit-learn
lm-eval @ git+https://github.com/EleutherAI/lm-evaluation-harness.git@e47e01beea79cfe87421e2dac49e64d499c240b4
dill<0.3.5
bitsandbytes
